<div class="footer">
  <h5 class="text-center pt-3">Follow Us</h5><p class="text-center"><a href="https://www.facebook.com/studyabroadnetwork.net/" target="blank"><img src="assets/images/facebook-white-icon.png" alt="facebook logo"/></a></p>
</div>