<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>

  <div class="contentPadded text-center">
    <div class="card-body">
      <h3 class="card-title mt-3">Why Choose Study Abroad Network</h3>
      <img src="assets/images/alexHeadShot.png" alt="Alexandra Anderson" class="roundSmallPic" style="margin-left:0;">
      <p>My name is Alexandra Anderson and I am the owner of Study Abroad Network.</p>
      <p>I started working with High School students wanting to study abroad over 7 years ago. Coming from the travel
        industry, I was very excited to have the opportunity to help find the perfect study abroad program and places for
        High
        School students.</p>
      <p>My first experience with students was working for an Agency in Germany. We sent students to study in Canada, the
        United
        States, New Zealand and Australia. After I moved to the USA, I developed a Canada High School program for a large
        international Education Company.</p>
      <p>Last year, I decided to get away from large student numbers and focus on personalized service for each student
        wanting to study abroad.</p>
      <p>I will be your personal guide, from when you first contact me, through the program's completion. I will guide you
        through the school selection and the application process, I will assist with preparation for departure, and provide
        support while you are away from home.</p>
      <p>It can be challenging to find the right Agency or person to help you make a good decision about your future school
        and
        location. I have travelled to many places and schools in Canada and the USA, always staying in close contact with
        the schools and students to provide a personalized service. I might be the right advisor for you.</p>
      <p>I speak English and German.</p>
      <p>My focus is to find the perfect location for you to experience an unforgettable adventure studying abroad.</p>
      <br>
      <img src="assets/images/alexAbroad.jpg" alt="Alexandra Anderson" style="max-height: 350px">
    </div>
  </div>
  <% include ../partials/footer %>
  <script src="scripts/scripts.js"></script>
</body>
</html>