<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
  <div class="contentPadded text-center">
    <h4>I provide school selection and application service for Agencies.</h4>
    <br>
    <p class="largeP">
      If you need a school that you may not have an agreement or are not familiar with, I will be more than happy to provide
      service for you.
    </p>
    <br>
    <h5>Please ask about pricing and services provided!</h5>
  </div>
<% include ../partials/footer %>

<script src="scripts/scripts.js"></script>
</body>

</html>