<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>

  <div class="contentPadded">
    <h2 class="slogan">Pre-Application Form</h2>
    <form class="card mailform" action="/contact" method="post">
      <div class="card-body">
        <h3 class="card-title mb-5 mt-3">Your Information</h3>
        <h6 class="card-subtitle mb-5 text-muted">* All information is completely confidential and will only be used to help find your perfect school.</h6>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName4">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="youremail@sample.com">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAge">Age</label>
            <input type="number" class="form-control" id="inputAge" placeholder="Age">
          </div>
          <div class="form-group col-md-6">
            <label for="inputGrade">Grade</label>
            <input type="grade" class="form-control" id="inputGrade" placeholder="Grade/Year">
          </div>
        </div>
        <label for=""> When would you like to start your study abroad?</label>
        <div class="form-row">
          
          <div class="form-group col-md-6">
          <label for="inputYear">Year</label>
          <input type="text" class="form-control" name="inputYear" id="inputAddress" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="inputMonth">Month</label>
          <input type="text" class="form-control" id="inputMonth" placeholder="">
        </div>
        </div>
        <label for="studyLength">How long would you like to study abroad?</label>
        <div class="form-row border rounded">
          <div class="form-group w-100">
            <div class="form-check form-check-inline mt-3">
              <div class="checkbox">
                <label><input type="checkbox" value="radioYear">   Year</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="radioSemester">   Semester</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="radioShortTerm">   Short Term</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="radioSummer">   Summer Program</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" name="inputCity" id="inputCity">
          </div>
          <div class="form-group col-md-6">
            <label for="inputCountry">Country</label>
            <select  id="inputCountry" name="inputCountry" class="form-control bfh-countries" data-country="UK" data-flags="true"></select>
          </div>
        </div>
        <label for="schoolsSelect">Which country are you interested in?</label>
        <div class="form-row border rounded">
          <div class="form-group w-100">
          <div class="form-check form-check-inline mt-3">
            <div class="checkbox">
              <label><input type="checkbox" value="radioCanada">   Canada</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="radioUS">   United States</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="radioNZ" disabled> <span class="greyedOut">New Zealand <small>Coming Soon!</<small></span>  </label>
            </div>
          </div>
        </div>
        </div>
        <div class="form-group mt-4">
          <label for="exampleFormControlTextarea1">Tell us more about yourself!</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="About You"></textarea>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
  <% include ../partials/footer %>
  <script src="scripts/scripts.js"></script>
</body>
</html>