<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
  <div class="content scrollContent">
    <div class="introImg">
      <img src="assets/images/SookeC.jpg" alt="train in the Rocky Mountains">
    </div>
    <div class="homeMain">
      <h2 class="slogan">Where will you learn today?</h2>
      <div class="card homeArticle row">
        <div class="card-body col-md-6">
          <h3 class="card-title mt-3">Why Should You Study Abroad?</h3>
          <p><strong>Life-long Impact</strong></p>
          <ul>
            <li>Live in another culture and learn to adapt and accept other life styles, beliefs, and values</li>
            <li>Broaden your knowledge with new ways of learning in a different education system</li>
            <li>Employers and Universities value an International Experience</li>
            <li>Globalization means Employers are looking increasingly for workers with multi- cultural competence and experience</li>
            <li>It develops your personality and makes you more responsible and confident</li>
            <li>Try out courses and sports that may not be available at your school in your home country</li>
            <li>Make lifelong connections with your new friends worldwide</li>
            <li>Enhance your language skills</li>
            <li>See the world! You may want to study in a location which you always wanted to visit</li>
            <li>It will impact your life for years after your study abroad experience</li>
          </ul>
        </div>
        <div class="articleImg articleImgOne col-md-6 mt-5">
        </div>
      </div>
      <h2 class="slogan">Our Locations</h2>
      <div class="card countryCard">
        <div class="card-body">
          <a href="canada"><h3 class="card-title mb-5 mt-3">Canada</h3></a>
          <p style="width: 70%;"><em>Canada is one of the top international student destinations in the world.</em></p>
          <a href="canada"><img class="countryCardImg" src="assets/images/caPlaceholder.png" alt="Canada Link Image"></a>
        </div>
      </div>
      <div class="card countryCard">
        <div class="card-body">
          <h3 class="card-title mb-5 mt-3">New Zealand</h3>
          <p style="width: 70%;"><em>Safe, friendly and welcoming, New Zealand is a natural playground full of opportunities for unique
              experiences.</em></p>
              <h3 class="card-title mb-5 mt-3">Coming Soon!</h3>
          <a href="nz"> <img class="countryCardImg" src="assets/images/nzPlaceholder.png" alt="New Zealand Link"></a>
        </div>
      </div>
      <div class="card countryCard  ">
        <div class="card-body">
          <a href="usa"><h3 class="card-title mb-5 mt-3">USA</h3></a>
          <p style="width: 70%;"><em>The USA has the world’s largest international student population, with more than
              1,000,000 students choosing to broaden
              their education and life experience in the United States.</em></p>
          <a href="usa"><img class="countryCardImg" src="assets/images/usaPlaceholder.png" alt="USA Link"></a>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <script src="scripts/scripts.js"></script>
</body>

</html>