<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
  <div class="contentPadded text-center">
    <h1 class="text-center">Aotearoa</h1>
    <h2>New Zealand Schools Coming Soon!</h2>
    <div class="introImg">

      <img src="assets/images/nzPlaceholder.png" alt="eccentric road sign showing distances to places from New Zealand">

    </div>

    <hr>

    <h2 class="text-center pt-3 pb-5">Safe, friendly, and welcoming, New Zealand is a natural playground full of opportunities for unique experiences.</h2>

    <img class="smallIcon" src="assets/images/creative1.png" alt="icon of lotus type flower">
    <p class="pb-3">
      New Zealand’s practical, hands-on style of learning encourages creative thinking rather than learning by memorizing.
    </p>

    <img class="smallIcon" src="assets/images/people1.png" alt="icon of three people arm in arm">
    <p class="pb-3">
      You’ll gain a better understanding of different places and people by interacting with new cultures, such as New
      Zealand’s unique Māori culture.</p>

    <img class="smallIcon" src="assets/images/soundBars.png" alt="icon of three people arm in arm">
    <p class="pb-3"> New Zealand’s relaxed pace of life gives you the time to enjoy everything our vibrant
    modern cities have to offer. Enjoy live music, theater, film, dance, free festivals or international sports fixtures, or
    hang out with your new friends at a cafe, restaurant or bar.
    </p>

    <img class="smallIcon" src="assets/images/bikeIcon.png" alt="icon of three people arm in arm">
    <p class="pb-3">
    <p>Most of our cities and towns are relatively small and uncrowded, making your daily commute easier and faster than back
    home. Wherever you live, you won’t be far from beaches, parks, walking trails and cycle tracks.</p>
  </div>
  
  <hr>
  <div class="contentPadded hideTemp">
  <h2 class="text-center pt-3 pb-5">Our Schools</h2>
    <p>We partner with <a href="https://www.outdoorednz.co.nz/" target="blank">Outdoor Education New Zealand</a> to offer a wide selection of excellent schools spanning both the North and South islands.</p>
    <blockquote class="blockquote text-center">
      <p class="mb-0">"We offer international students an incredible learning experience of studying in New Zealand’s outdoor adventure-land,
      the ODENZ schools have a particular strength in outdoor education and offer challenging practical programmes designed to
      encourage personal and social development."</p>
      <footer class="blockquote-footer"><cite title="Source Title">www.outdoorednz.co.nz</cite></footer>
    </blockquote>
  </div>

<!-- Schools -->
  <div class="contentPadded hideTemp">

    <!-- Content below taken directly from Outdoor Education NZ site. Modified for links to work here. -->
    <div class="">
      <div class="">
        <div id="schools">
          <div id="maplinks" class="row flex-half">
            <div class="col-md-6">

              <h4>North Island</h4>

              <ul>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/freyberg-high-school/" onmouseover="setMarker(320,250)"
                    onmouseout="clearMarker()">Freyberg High School</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/katikati-college" onmouseover="setMarker(320,145)" onmouseout="clearMarker()">Katikati
                    College</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/kamo-high-school/" onmouseover="setMarker(264,53)" onmouseout="clearMarker()">Kamo High
                    School</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/kerikeri/" onmouseover="setMarker(250,30)" onmouseout="clearMarker()">Kerikeri High School</a>
                </li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/kuranui-college" onmouseover="setMarker(310,275)" onmouseout="clearMarker()">Kuranui
                    College</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/onslow-college" onmouseover="setMarker(290,290)" onmouseout="clearMarker()">Onslow College</a>
                </li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/ruapehu-college" onmouseover="setMarker(310,220)" onmouseout="clearMarker()">Ruapehu
                    College</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/taumarunui-high-school" onmouseover="setMarker(300,198)" onmouseout="clearMarker()">Taumarunui
                    High School</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/upper-hutt-college/" onmouseover="setMarker(310,275)" onmouseout="clearMarker()">Upper
                    Hutt College</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/whakatane-high-school" onmouseover="setMarker(340,150)" onmouseout="clearMarker()">Whakatane
                    High School</a></li>

              </ul>
            </div>
            <div class="col-md-6">

              <h4>South Island</h4>

              <ul>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/cromwell-college" onmouseover="setMarker(140,435)" onmouseout="clearMarker()">Cromwell
                    College</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/dunstan-high-school" onmouseover="setMarker(145,445)" onmouseout="clearMarker()">Dunstan High
                    School</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/james-hargest-college" onmouseover="setMarker(100,480)" onmouseout="clearMarker()">James
                    Hargest College</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/logan-park-high-school" onmouseover="setMarker(165,475)" onmouseout="clearMarker()">Logan Park
                    High School</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/motueka-high-school" onmouseover="setMarker(230,280)" onmouseout="clearMarker()">Motueka High
                    School</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/papanui-high-school" onmouseover="setMarker(228,375)" onmouseout="clearMarker()">Papanui High
                    School</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/roncalli-college" onmouseover="setMarker(180,410)" onmouseout="clearMarker()">Roncalli
                    College</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/st-kevins-college/" onmouseover="setMarker(170,435)" onmouseout="clearMarker()">St
                    Kevin's College</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/queens-high-school" onmouseover="setMarker(165,475)" onmouseout="clearMarker()">Queen's High
                    School</a></li>

                <li><a target="blank" href="https://outdoorednz.co.nz/schools/waimea-college" onmouseover="setMarker(230,280)" onmouseout="clearMarker()">Waimea College</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div id="map">
          <p id="marker" style="display: none; padding: 375px 0px 0px 228px;">
            <img src="https://www.outdoorednz.co.nz/wp-content/themes/site/img/we-are-here.png" alt="We are here." width="54"
              height="45">
          </p>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <script src="scripts/scripts.js"></script>
</body>

</html>