<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
  
  <!-- <div class="contentPadded">
    <h2 class="text-center pt-3 pb-5">We are currently working on bringing USA schools into the program. Check back often!</h2>
  </div> -->
  <div class="contentPadded text-center">
    <h1>USA</h1>
    <div class="introImg">

      <img src="assets/images/usaPlaceholder.png" alt="train in the Rocky Mountains">

    </div>

    <hr>
    <h2 class="text-center pt-3 pb-5">The USA has the world’s largest international student population, with more than 1,000,000 students choosing to broaden
    their education and life experience in the United States.</h2>

    <img class="smallIcon" src="assets/images/people1.png" alt="icon of three people arm in arm">
    <p class="pb-3">
    US schools place great significance on diversity, meaning classes will consist of students of all ages, religions, and
    countries of origin.</p>

    <img class="smallIcon" src="assets/images/network1.png" alt="network icon">
    <p class="pb-3"> The United States provides a stimulating and rich learning environment which encourages cross-cultural
    understanding and networking.</p>

    <img class="smallIcon" src="assets/images/talk1.png" alt="language icon">
    <p class="pb-3">One of the major potential benefits if you study high school in the USA may be the chance
    to be immersed in the English language in a real classroom.</p>

    <img class="smallIcon" src="assets/images/booksIcon.png" alt="language icon">
    <p class="pb-3">
    If you decide to study abroad high school in the USA you may
    take courses in areas like English, history, science, math, social studies and computer science.</p>

    <img class="smallIcon" src="assets/images/starIcon.png" alt="language icon">
    <p>
    U.S. public high schools only allow international students to study for one year, but private schools do not limit the
    length of enrollment.</p>
  </div>
  <h2 class="slogan ">USA Schools</h2>
  <!-- Arizona -->
  <div class="card countryCard">
    <div class="card-body">
      <div class="card-head">
        <img src="assets/images/rsAZLogo.png" alt="Rancho Solano Logo" class="schoolIcon">
        <h3 class="card-title mb-5 mt-3 text-center">Rancho Solano, Arizona</h3>
      </div>
      <p><em>Just as an orchestra sounds clearer and more compelling in a concert hall with superior acoustics, and just as an
      athlete runs faster, jumps higher and reaches his or her potential on a surface designed for sports, students and
      educators excel in environments specifically designed to foster curiosity, discovery, collaboration, and inspiration.</em></p>
      <div class="introImg mt-5"><img src="assets/images/rsPrepSign.jpg" alt="Rancho Solano school""></div>
    <!-- Initially hidden info -->
      <p class="text-center mt-5"><button class="schoolAccordion">Learn More</button></p>
      <div class="accordionShow">
      <div class="title-fix-1">
          <p class="schoolTitle text-center"><em>Rancho Solano Preparatory School</em></p>
              <p class="text-center"><em>Location: Scottsdale, AZ</em></p>
          <button class="closeBtn" type="">Close X</button>
        </div>
      
        <div class="flex-half">
          <div>
            <p><em>As one of the best private high schools in Arizona, our college preparatory curriculum emphasizes critical thinking and is brought to life in a student-centered environment. Students engage daily with other students from around the world via this challenging and inquiry-based curriculum that prepares them for this ever-changing world.</em></p>
          </div>
          <div>
            <img src="assets/images/ranchoSchool.png" class="cardImageHalf" alt="Rancho Solano School">
          </div>
        </div>
        <div class="flex-half">
          <div>
            <p><em>
                In addition to our focus on personalized, specialized academics, student learning at Rancho Solano is strengthened through our diverse and vibrant student community and enrichment programs. The majority of Rancho Solano’s high-achieving students are also scholar athletes, musicians and artists.</em></p>
          </div>
          <div>
            <img src="assets/images/scottsdale.png" class="cardImageHalf" alt="Scottsdale from the air">
          </div>
        </div>
        <br>
          <div class="directLinks text-center">
            <br>
            <i class="fas fa-file-pdf fa-2x" style="color: #0a3170; "></i><br><a href="assets/brochures/rancho-brochure-16-17.pdf" target="_blank" download>Get The Rancho Solano Brochure</a>
            <br>
            <br>
            <i class="fas fa-file-pdf fa-2x" style="color: #0a3170; "></i><br><a href="assets/brochures/RanchoSolanoQuickFacts&Figures.pdf" target="_blank" download>Rancho Solano Quick Facts</a>
            <br>
            <br>
            <br>
            <div class="video-container"
              dataUrl="https://www.youtube.com/embed/46OZaG-Asjk?list=UUMQsmsYtLmRm8A44uvkb7hA">
              <!-- <iframe width="450" height="300" src="https://www.youtube.com/embed/46OZaG-Asjk?list=UUMQsmsYtLmRm8A44uvkb7hA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
              <img src="assets/images/videoStills/ranchoVideoStill.png" async class="play-youtube-video">
            </div>
              <br>
            <p class="text-center mt-5"><button><a class="text-center" href="contact">Contact Us for more information!</a></button></p>
          </div>
      </div>
    </div>
  </div>
  <!-- Hawaii  -->
  <div class="card countryCard">
    <div class="card-body">
      <div class="card-head">
        <img src="assets/images/apisLogo.png" alt="Asia Pacific International School Hawaii logo" class="schoolIcon">
        <h3 class="card-title mb-5 mt-3 text-center">Asia Pacific International School, Hawaii</h3>
      </div>
      <p><em>APIS Hawaii is located in Hau’ula, on the North Shore of Oahu, approximately 50 minutes from Honolulu. Nestled against an emerald green mountain backdrop and overlooking the crystal waters of the Pacific Ocean, our Hawaii campus provides students with the unique opportunity to pursue their academics while connecting with the beauty of their natural surroundings at the same time. APIS classrooms and administrative offices form a purposeful learning community that blurs the lines between inside and out.</em></p>
      <div class="introImg mt-5"><img src="assets/images/apisCover.jpeg" alt="Asia Pacific International School, Hawaii"></div>
    <!-- Initially hidden info -->
      <p class="text-center mt-5"><button class="schoolAccordion">Learn More</button></p>
      <div class="accordionShow">
        <div class="title-fix-1">
          <p class="schoolTitle text-center"><em>Asia Pacific International School</em></p>
          <p class="text-center"><em>Location: Hau’ulae, HI</em></p>
          <button class="closeBtn" type="">Close X</button>
        </div>
        <div class="flex-half">
          <div>
            <p><em>APIS mission sets the direction for our educational philosophy by asking, “What will the New Pacific Century demand from our leaders?” The New Pacific Century refers to the growing importance of the linkage between the East and the West. Moreover, we recognize the growing importance of the East in terms of economics, politics, and culture. In a loving and caring Christian environment, we strive to educate our students to be the bridge builders between the East and the West.</em></p>
          </div>
          <div>
            <img src="assets/images/hawaii2.png" class="cardImageHalf" alt="APIS School with verdant cliffs in the background">
          </div>
        </div>
        <div class="flex-half">
          <div>
            <p><em>
                In our High School academic program, our goal is to prepare our graduates to become confident, independent scholars who are enthusiastic learners with a passion for knowledge and the skills to compete and succeed in the 21st Century workplace. We place a particular emphasis in humanities in our curriculum, focusing on developing analytical minds and effective verbal and written communication skills. We expect and require consistent hard work by all students as a fundamental skill leading to growth and success. We also offer a variety of courses in Advanced Placement.</em></p>
          </div>
          <div>
            <img src="assets/images/hawaii1.jpg" class="cardImageHalf" alt="Green volcanic cliffs in Hawaii">
          </div>
        </div>
        <br>
          <div class="directLinks text-center">
            <br>
            <p class="text-center mt-5"><button><a class="text-center" href="contact">Contact Us for more information!</a></button></p>
          </div>
      </div>
    </div>
  </div>

  <div class="card countryCard hideTemp">
    <div class="card-body">
      <div class="card-head">
        <a target="_blank" href="https://sva.org/"><img src="assets/images/svaCALogo.png" alt="Squaw Valley Academy Logo" class="schoolIcon"></a>
        <h3 class="card-title mb-5 mt-3 text-center">Squaw Valley Academy, Lake Tahoe, California</h3>
      </div>
      <p><em>It is difficult to describe to someone unfamiliar with the Sierra Nevada the spectacular beauty of this area. From
      towering, 9000-foot mountain peaks, to the breathtaking expanse of Lake Tahoe, this is truly one of the most beautiful
      places on Earth.</em></p>
      <p class="text-center mt-5"><button class="schoolAccordion">Learn More</button></p>
    </div>
  </div>
  <div class="card countryCard hideTemp">
    <div class="card-body">
      <a target="_blank" href="https://www.lakemaryprep.com/"><img src="assets/images/lakeMaryFLLogo.png" alt="Lake Mary Prep Logo" class="schoolIcon"></a>
      <h3 class="card-title mb-5 mt-3 text-center">Lake Mary Preparatory School, Orlando,  Florida</h3>
      <p><em>Our beautiful campus has grown to cover more than 48-acres, and our wide range of facilities enable each Lake Mary
      Preparatory School student to pursue his or her passions through academics, athletics, and extracurricular activities.</em></p>
      <p class="text-center mt-5"><button class="schoolAccordion">Learn More</button></p>
    </div>
  </div>
</div>
  <% include ../partials/footer %>
  <script src="scripts/scripts.js"></script>
</body>

</html>