<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
  
  <!-- <div class="contentPadded">
    <h2 class="text-center pt-3 pb-5">We are currently working on bringing USA schools into the program. Check back often!</h2>
  </div> -->
  <div class="contentPadded text-center">
    <h1>USA</h1>
    <h2> USA Schools Coming Soon!</h2>
    <div class="introImg">

      <img src="assets/images/usaPlaceholder.png" alt="train in the Rocky Mountains">

    </div>

    <hr>
    <h2 class="text-center pt-3 pb-5">The USA has the world’s largest international student population, with more than 1,000,000 students choosing to broaden
    their education and life experience in the United States.</h2>

    <img class="smallIcon" src="assets/images/people1.png" alt="icon of three people arm in arm">
    <p class="pb-3">
    US schools place great significance on diversity, meaning classes will consist of students of all ages, religions, and
    countries of origin.</p>

    <img class="smallIcon" src="assets/images/network1.png" alt="network icon">
    <p class="pb-3"> The United States provides a stimulating and rich learning environment which encourages cross-cultural
    understanding and networking.</p>

    <img class="smallIcon" src="assets/images/talk1.png" alt="language icon">
    <p class="pb-3">One of the major potential benefits if you study high school in the USA may be the chance
    to be immersed in the English language in a real classroom.</p>

    <img class="smallIcon" src="assets/images/booksIcon.png" alt="language icon">
    <p class="pb-3">
    If you decide to study abroad high school in the USA you may
    take courses in areas like English, history, science, math, social studies and computer science.</p>

    <img class="smallIcon" src="assets/images/starIcon.png" alt="language icon">
    <p>
    U.S. public high schools only allow international students to study for one year, but private schools do not limit the
    length of enrollment.</p>
  </div>
  <h2 class="slogan hideTemp">USA Schools</h2>
  <div class="hideTemp">
  <div class="card countryCard hideTemp">
    <div class="card-body">
      <div class="card-head">
        <a target="_blank" href="http://www.ranchosolano.com/"><img src="assets/images/rsAZLogo.png" alt="Rancho Solano Logo" class="schoolIcon"></a>
        <h3 class="card-title mb-5 mt-3 text-center">Rancho Solano, Arizona</h3>
      </div>
      <p><em>Just as an orchestra sounds clearer and more compelling in a concert hall with superior acoustics, and just as an
      athlete runs faster, jumps higher and reaches his or her potential on a surface designed for sports, students and
      educators excel in environments specifically designed to foster curiosity, discovery, collaboration, and inspiration.</em></p>
      <div class="introImg mt-5"><img src="assets/images/rsPrepSign.jpg" alt="Rancho Solano school"></div>
      
      <p class="text-center mt-5"><button class="schoolAccordion">Learn More</button></p>
    </div>
  </div>
  <div class="card countryCard hideTemp">
    <div class="card-body">
      <div class="card-head">
        <a target="_blank" href="https://sva.org/"><img src="assets/images/svaCALogo.png" alt="Squaw Valley Academy Logo" class="schoolIcon"></a>
        <h3 class="card-title mb-5 mt-3 text-center">Squaw Valley Academy, Lake Tahoe, California</h3>
      </div>
      <p><em>It is difficult to describe to someone unfamiliar with the Sierra Nevada the spectacular beauty of this area. From
      towering, 9000-foot mountain peaks, to the breathtaking expanse of Lake Tahoe, this is truly one of the most beautiful
      places on Earth.</em></p>
      <p class="text-center mt-5"><button class="schoolAccordion">Learn More</button></p>
    </div>
  </div>
  <div class="card countryCard hideTemp">
    <div class="card-body">
      <a target="_blank" href="https://www.lakemaryprep.com/"><img src="assets/images/lakeMaryFLLogo.png" alt="Lake Mary Prep Logo" class="schoolIcon"></a>
      <h3 class="card-title mb-5 mt-3 text-center">Lake Mary Preparatory School, Orlando,  Florida</h3>
      <p><em>Our beautiful campus has grown to cover more than 48-acres, and our wide range of facilities enable each Lake Mary
      Preparatory School student to pursue his or her passions through academics, athletics, and extracurricular activities.</em></p>
      <p class="text-center mt-5"><button class="schoolAccordion">Learn More</button></p>
    </div>
  </div>
</div>
  <% include ../partials/footer %>
  <script src="scripts/scripts.js"></script>
</body>

</html>